<% provide(:title, 'Edit user') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>Update your profile</h1>
    </section>
  </aside>
</div>
<div class="user_info round" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <%= render 'form', user: @user, submit_value: "Save changes" %>
</div>