<% provide(:title, "All users") %>
<h1>All users</h1>
<div>
  <div>pagination</div>
  <ul class='users'>
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for(user)%>
      <%= link_to user.name, user %>
    </li>
  <% end %>
  </ul>
  <div>pagination</div>
</div>